<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="title">
  	<%= micropost.title %>
	  <%= micropost.id %>
	<%= image_tag micropost.picture.url if micropost.picture? %>
	<div id="tag">
	  <%= render 'microposts/microposts_tag_list', tag_list: micropost.category_list ,class:"tag"%>
	  <%= render 'microposts/microposts_tag_list', tag_list: micropost.color_list ,class:"tag"%>
	  <%= render 'microposts/microposts_tag_list', tag_list: micropost.pattern_list,class:"tag" %>
	</div>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	<% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>